<a href="https://colab.research.google.com/github/IdaWiweka/datathon/blob/IdaWiweka/Datathon_added_IDtoDaataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd
from google.colab import files

# GitHub raw URL for the CSV file
url = "https://raw.githubusercontent.com/CBDRH/hds-datathon-data/refs/heads/main/release/epiwatch-latest.csv"

# Correct file_path to include a file name
file_path = '/content/drive/My Drive/processed_batches/Dataset_id/epiwatch-latest.csv'

# Read the CSV file from the URL into a pandas DataFrame
data = pd.read_csv(url)

# Add a new column with the row index numbers (if needed)
data['report_id'] = range(1, len(data) + 1)

# Save and download the file
data.to_csv(file_path, index=False)

print("DataFrame has been saved to 'csv'")

DataFrame has been saved to 'csv'

In [14]:
# Correct file_path to include a file name
file_path = '/content/drive/My Drive/processed_batches/Dataset_id/epiwatch-latest.csv'

# Read the CSV file from the URL into a pandas DataFrame
df = pd.read_csv(file_path)
print(df)

                                                   title publication-date  \
0      90123 people sick in one day in the country; D...       2020-09-16
1            Ludhiana District remains at receiving end;       2020-09-16
2      CIDRAP - India's COVID-19 total tops 5 million...       2020-09-16
3      [Myarklamiss.com] LOUISIANA - State reports 42...       2020-09-15
4      [1010 WINS] NEW JERSEY - New Jersey reports 9 ...       2020-09-15
...                                                  ...              ...
44094  Florida reports 1st local dengue fever case of...       2023-02-09
44095  FLORIDA - Florida Reports 1st Local Dengue Fev...       2023-02-09
44096  NEW JERSEY - N.J Reports 1371 COVID Cases - 12...       2023-02-09
44097  RUSSIA - Russia Registers 12301 New Cases Of C...       2023-02-09
44098  HAWAII - Hawaii Reports 8 COVID Deaths - Over ...       2023-02-08

       event-date             country                    location  \
0      2017-09-16               India                         NaN
1      2020-09-16               India  Punjab, Ludhiana, Ludhiana
2      2020-09-16               India                         NaN
3      2020-09-15       United States                   Louisiana
4      2020-09-15       United States                  New Jersey
...           ...                 ...                         ...
44094         NaN       United States                          FL
44095         NaN       United States                         NaN
44096         NaN       United States                  New Jersey
44097         NaN  Russian Federation                         NaN
44098         NaN       United States                      Hawaii

              lat_long diseases                          syndromes  \
0       23.379, 79.443  covid19                                NaN
1       30.907, 75.849    other  severe acute respiratory syndrome
2       23.379, 79.443  covid19                                NaN
3      30.186, -91.426  covid19                                NaN
4      39.613, -74.729  covid19                                NaN
...                ...      ...                                ...
44094  28.661, -82.486   dengue                                NaN
44095              NaN   dengue                                NaN
44096              NaN  covid19                                NaN
44097              NaN  covid19                                NaN
44098              NaN  covid19                                NaN

                                                     url  report_id
0      https://www.manoramaonline.com/news/latest-new...          1
1      https://www.tribuneindia.com/news/ludhiana/lud...          2
2      https://flutrackers.com/forum/forum/local-regi...          3
3      http://outbreaks.globalincidentmap.com/eventde...          4
4      http://outbreaks.globalincidentmap.com/eventde...          5
...                                                  ...        ...
44094  http://outbreaknewstoday.com/florida-reports-1...      44095
44095  http://outbreaks.globalincidentmap.com/event_d...      44096
44096  http://outbreaks.globalincidentmap.com/event_d...      44097
44097  http://outbreaks.globalincidentmap.com/event_d...      44098
44098  http://outbreaks.globalincidentmap.com/event_d...      44099

[44099 rows x 10 columns]

1. First dataset: last report_id: 44099